IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
DirectoryIndex index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^practice_areas.html$ index.php?section=practice_areas [L]
RewriteRule ^faq.html$ index.php?section=faq [L]
RewriteRule ^contact.html$ index.php?section=contact [L]
RewriteRule ^privacy.html$ index.php?section=privacy [L]
RewriteRule ^([0-9A-Za-z\_\-]+)$ index.php?section=$1 [L]
RewriteRule ^([0-9A-Za-z\_\-]+)/$ index.php?section=$1 [L]
RewriteRule ^([0-9A-Za-z\_\-]+)/([0-9A-Za-z\_\-]+)$ index.php?section=$1&page=$2 [L]
RewriteRule ^([0-9A-Za-z\_\-]+)/([0-9A-Za-z\_\-]+)/$ index.php?section=$1&page=$2 [L]
RewriteRule ^api/([^.?]+).xml$ v2/api/api.php?request=$1 [QSA,NC,L]
RewriteRule ^api/([^.?]+).json$ v2/api/api.php?request=$1 [QSA,NC,L]
RewriteRule ^api/([^.?]+).txt$ v2/api/api.php?request=$1 [QSA,NC,L]


<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
